<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Readable App for Book Authors</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
<link rel="stylesheet" media="all" type="text/css" href="{{ url_for('static', filename='default.css') }}">
<link rel="stylesheet" media="all" type="text/css" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css')}}">
<script src="{{ url_for('static', filename='js/angular.min.js')}}"></script>
<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="wrapper1">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo"> <span class="icon icon-shield icon-4x  icon-rotate-180"><i class="icon-shield icon-4x"></i></span>
				<h1><a href="#">Vavasour</a></h1>
				<span>Check Readability of your Texts</a></span> </div>
			<div id="menu">
				<ul>
					<li class="current_page_item"><a href="/index" accesskey="1" title="">Homepage</a></li>
					<li><a href="/about" accesskey="3" title="">About Me</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="wrapper2">
		<div id="welcome" class="container">
			<div class="title">
			<h2 style="color:yellow">The Coleman-Liau Readability Formula</h2>
				<h2>Enter Your Text Here</h2>
			</div>
			<p class="lead">
				<textarea rows="25" cols="350"></textarea>

			 </p>
			 <a class="btn" style="color:white">Go !</a>
		</div>
	</div>
	<div id="wrapper3" style="background:#C3C3E5">

	</div>
</div>

<div id="footer" class="container">
	<div class="title">
		<h2>Get in touch</h2>
		<span class="byline">some rights reserved by Naren Aryan</span> </div>
	<ul class="contact">
		<li><a href="https://twitter.com/Narenarya3" class="icon icon-twitter"><span>Twitter</span></a></li>
		<li><a href="https://www.facebook.com/naren.arya.18" class="icon icon-facebook"><span></span></a></li>
		<li><a href="#" class="icon icon-dribbble"><span>Pinterest</span></a></li>
		<li><a href="#" class="icon icon-tumblr"><span>Google+</span></a></li>
		<li><a href="#" class="icon icon-rss"><span>Pinterest</span></a></li>
	</ul>
</div>



<div id="copyright" class="container">
	<p>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Created in <a href="http://templated.co" rel="nofollow">Flask</a>.</p>
</div>
</body>
</html>
